@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "reset";
@import "fonts";
@import "header";
@import "garage";

// Миксин поключает файлы шрифтов
//------------------------------------------------------------------------

//------ Common ----------------
$minwidth:320px;
$mw:970; // Ширина контента
$md1:$mw+12;
$md2:991.98;
$md3:767.98;
$md4:479.98;

.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: "PTSans";

	&._loaded {}
}

._container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0 10px;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width:none;
	// }
}

//------ /Common -----------------

//------ MAIN-SLIDER -------------
.main-slider {
	position: relative;

	// .main-slider__body
	&__body {}

	// .main-slider__item
	&__item {}

	// .main-slider__control
	&__control {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 100px;
		height: 100px;
		transform: translate(-50%, 50%);
		display: flex;
		justify-content: center;
		align-items: center;

		&::after {
			content: "";
			background-color: #ffffff;
			position: absolute;
			width: 80%;
			height: 80%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.item-main-slider {
	position: relative;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;

	// .item-main-slider__content
	&__content {
		position: relative;
		z-index: 2;
		height: 100%;
	}

	// .item-main-slider__container
	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .item-main-slider__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		picture,
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	// .item-main-slider__text
	&__text {
		max-width: 700px;
		margin: 25px auto 0px auto;
		color: #ffffff;
		font-family: "PT Sans";
		font-size: 15px;
		line-height: calc(25 / 15); // Автоматически подстраивался при смене шрифта
		// flex: 1 1 auto;
	}

	&__btn {
		margin-top: 50px;
		position: relative;
		padding: 20px 53px;
		display: inline-flex;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: #ffffff;
		border: 3px solid;
		border-image-source: linear-gradient(to top, #946d36, #c4a977);
		border-image-slice: 1;

		&:hover {
			color: #946d36;
			border: 3px solid;
			border-image-source: linear-gradient(to top, #c4a977, #946d36);
			border-image-slice: 1;
			background: linear-gradient(white, #ce8013); // Градиент для текста //
			-webkit-background-clip: text; // Обрезаем фон по тексту 
			-webkit-text-fill-color: transparent; // Прозрачный текст 
		}
	}
}

.control-main-slider {

	// .control-main-slider__arrow
	&__arrow {
		position: relative;
		z-index: 2;
		background: url('../img/icons/sl-arrow.png')0 0 no-repeat;
		width: 14px;
		height: 24px;
		cursor: pointer;

		// .control-main-slider__arrow_prev
		&_prev {}

		// .control-main-slider__arrow_next
		&_next {
			transform: rotate(-180deg);
		}
	}

	// .control-main-slider__decor
	&__decor {
		position: relative;
		z-index: 2;
		margin: 0 12px;
		animation: rotate 5s infinite linear;
	}

	@keyframes rotate {
		100% {
			transform: rotate(360deg);
		}
	}
}

//------ /MAIN-SLIDER ------------

//------  LOTS ------------------
.lots {
	padding-top: 85px;
	padding-bottom: 63px;

	// .lots__container
	&__container {}

	// .lots__header
	&__header {}

	// .lots__slider
	&__slider {}
}

//------ /LOTS ------------------

//------  BLOCK ------------------
//------ /BLOCK ------------------

//------ FOOTER ------------------
//----- /FOOTER ------------------